@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url(/assets/css/root.css);
* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.sun-font {
    font-family: "Sunflower", sans-serif;
}

.name {
    color: white;
    line-height: 80px;
}

nav {
    margin-bottom: -1px;
    width: 100%;
    position: relative;
    z-index: 1;
    background: #070402;
}

.gap-32 {
    gap: 32px;
}

.pt-174 {
    padding-top: 174px;
}

.pt-100 {
    padding-top: 100px;
}

.mt-69 {
    margin-top: 69px;
}

.home-page-bg {
    background-image: url(/assets/image/Homepage-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Connect-btn {
    padding: 12px 32px 12px 32px;
    gap: 10px;
    border-radius: 82px;
}

.grey-bg-2 {
    top: 12%;
    left: 0%;
}

.believers-para-box {
    max-width: 570px;
}

.sec-1-btn {
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 82px;
    border: 2px solid white;
}

.sec-1-btn:hover {
    background-color: black;
    color: white;
}

.btn-svg path:hover {
    fill: black;
}

/* ======================section-2 ====================== */
.sec-2-boxes {
    max-width: 263px;
    border-radius: 12px;
    border: 1px solid #FFFFFF1A;
    background-color: #1E1E1E;
    backdrop-filter: 30px;
    box-shadow: 0px -1px 20px 0px #FFFFFF1A;
}

.sec-2-boxes:hover {
    background-color: black;
}

/* ======================section-2 ====================== */
.footer-line{
    max-width: 100%;
    height: 1px;
    background-color: white;
}
@media (max-width:992px) {
    nav {
        z-index: 9;
        position: fixed;
        background-color: black;
    }

    .menuLink {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: black;
        transition: all 200ms linear;
    }


    label[for="menuIcon"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    label[for="menuIcon"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.menuLink {
        right: 0;
    }

    input:checked~label[for="menuIcon"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="menuIcon"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="menuIcon"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }
}